@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --main-bg-color: rgb(27, 38, 44);
  --main-text-color: rgb(187, 225, 250);
  --textField-bg-color: rgb(15, 76, 117);
  --textField-font-color: rgba(187, 225, 250, 0.75);
  --button-color: rgb(50, 130, 184);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  font-weight: normal;
}

body > * { padding: 3%; }

header {
  display: grid;
  grid-template-rows: 50% 50%;
}

header, main {
  background-color: var(--main-bg-color);
  width: 95vw;
}

header { height: 15vh; }

main { height: 85vh; }

h1 {
  text-align: center;
  font-size: 3.5ch;
  color: var(--main-text-color);
  text-shadow: 10px 0px 5px rgb(27, 27, 47);
}

ul#functionalButtons, ul#stylingButtons {
  display: flex;
  margin: 3% 2%;
  margin-left: 6%;
  list-style: none;
}

ul#functionalButtons > *, ul#stylingButtons > * { margin-right: 1%; }

button.functionalButton, button.stylingButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2ch;
  width: 60%;
  border-radius: 10%;
  border-color: var(--button-color);
  background-color: var(--button-color);
  color: var(--main-text-color);
  text-shadow: 1px 1px 5px rgb(27, 27, 47);
}

button.stylingButton:active, button.functionalButton:active { background-color: rgba(50, 130, 184, 0.6); }

svg { width: 40%; }

div#editorArea { display:flex; }

ol#rows {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-right: 3%;
  list-style: none;
  margin-top: 1.3%;
}

textarea {
  font-size: 1.6ch;
  resize: none;
  word-wrap: break-word;
  background-color: var(--textField-bg-color);
  color: var(--textField-font-color);
  line-height: 119%;
  width: 86vw;
  padding: 1%;
}

textarea::placeholder { color: rgba(186, 225, 250, 0.45); }

li.rowNumber {
  font-size: 1.7ch;
  color: rgba(186, 225, 250, 0.4);
}

.boldIt[--nth-letter='2']{
  font-weight: bold;
}