@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

body > * { padding: 3%; }

header {
  display: grid;
  grid-template-rows: 50% 50%;
}

h1 {
  text-align: center;
  font-size: 3.5ch;
  font-weight: normal;
}

ul#buttonGroup {
  display: flex;
  margin: 3% 2%;
  list-style: none;
}

div#editorArea { display:flex; }

ol#rows {
  display: flex;
  flex-direction: column;
  padding-right: 3%;
  list-style: none;
}

textarea {
  font-size: 1.8ch;
  resize: none;
  word-wrap: normal;
}

li.rowNumber { font-size: 1.7ch; }