@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

body > * { padding: 3%; }

header {
  display: grid;
  grid-template-rows: 50% 50%;
}

header, main { background-color: rgb(26, 38, 44); }

h1 {
  text-align: center;
  font-size: 3.5ch;
  font-weight: normal;
  color: rgb(186, 225, 250);
}

ul#functionalButtons, ul#stylingButtons {
  display: flex;
  align-items: space-around;
  margin: 3% 2%;
  margin-left: 6%;
  list-style: none;
}

ul#functionalButtons > *, ul#stylingButtons > * { margin-right: 1%; }

button.functionalButton, button.stylingButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2ch;
  width: 60%;
  border-radius: 10%;
  border-color: rgb(50, 130, 186);
  background-color: rgb(50, 130, 186);
}

svg { width: 40%; }

div#editorArea { display:flex; }

ol#rows {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-items: space-around;
  padding-right: 3%;
  list-style: none;
}

textarea {
  font-size: 1.7ch;
  resize: none;
  word-wrap: normal;
  background-color: rgb(15, 76, 117);
  color: rgba(186, 225, 250, 0.75);
  line-height: 120%;
  
}

textarea::placeholder {
  color: rgba(186, 225, 250, 0.45);
}

li.rowNumber {
  font-size: 1.7ch;
  color: rgba(186, 225, 250, 0.4);
}