@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
  --main-bg-color: rgb(27, 38, 44);
  --main-text-color: rgb(187, 225, 250);
  --textField-bg-color: rgb(15, 76, 117);
  --textField-font-color: rgba(187, 225, 250, 0.7);
  --button-color: rgb(50, 130, 184);
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: var(--main-bg-color);
  font-size: 16px;
}

header, main {
  width: 90vw;
  padding: 3%;
  font-family: 'Ubuntu', 'Arial', sans-serif;
}

header {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 15vh;
}

main { height: 85vh; }

div#textfield {
  width: 86vw;
  margin: 2.5vh 2.5vw;
  height: 50vh;
  padding: 2%;
  outline: none;
  font-size: 0.9rem;
  font-family: 'Merriweather', 'Times New Roman',serif;
  word-wrap: break-word;
  background-color: var(--textField-bg-color);
  color: var(--textField-font-color);
  border: 1px double var(--main-text-color);
  line-height: 150%;
}

h1 {
  text-align: center;
  font-size: 1.777rem;
  color: var(--main-text-color);
  text-shadow: 10px 0px 5px rgb(27, 27, 47);
}

ul#functionalButtons, ul#stylingButtons {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  margin: 3% 2% 3% 8%;
  list-style: none;
}

li:not(li:last-child) { margin-right: 3%; }

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 15vw;
  height: 5vh;
  border-radius: 10%;
  border-color: var(--button-color);
  background-color: var(--button-color);
  color: var(--main-text-color);
  text-shadow: 1px 1px 5px rgb(27, 27, 47);
}

button.stylingButton {
  width: 13vw;
}

button.offline-btn {
  width: 11vw;
  height: 5vh;
}

span[data-hidden="true"]{
  display: none;
}

svg { width: 4vw; }